h1 {
  color: rgb(201, 129, 201);
  background-color: powderblue;
}

.primeiro-paragrafo {
  background-color:plum;
  padding: 4px;
}

.segundo-paragrafo {
  background-color: plum;
  padding: 4px;
}

p {
  display: inline;
}

body {
  background-color:rgb(255, 192, 216);
  border: 10px solid plum;
}

a {
  color: powderblue;
}