h1 {
  color: rgb(255, 149, 202);
  background-color: powderblue;
  text-align: center;
}

.primeiro-paragrafo {
  background-color:plum;
  padding: 4px;
}


p {
  text-align: center;
  background-color: rgb(255, 148, 198);
  display: inline;
  padding: 4px;
}

body {
  background-color:rgb(250, 194, 222);
  border: 10px solid plum;
}

a {
  color: powderblue;
}
