body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 3fr 1fr; */
}

div {
    border: 1px solid black;
}

#main-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#first-block {
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 5;
}

.blue-block {
    background-color: blue;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
}

.white-block {
    background-color: white;
}

