#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item {
    border: 1px solid black;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    #container {
        display: flex;
        flex-direction: column
    }
     
.item {
        align-items: flex-start;
        justify-content: center;
        color: red;
}